/* This is your Tailwind CSS stylesheet */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Define the custom scrollbar styles */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent; /* For Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent; /* Transparent thumb */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent; /* Transparent track */
}
